<div class="title">{{ book.title }}</div>
<div class="alignment">{{ book.author }}</div>
<div class="alignment">{{ book.category }}</div>
<div class="alignment">{{ book.isbn }}</div>
<div class="alignment">{{ createdDateFormatted }}</div>
<div class="alignment">{{ editedDateFormatted }}</div>
<div class="buttonWrapper">
  <label class="switch round">
    <input
      type="checkbox"
      [checked]="book.isActive"
      (change)="toggleStatusAction()"
    />
    <span class="slider round"></span>
  </label>

  <button class="btn btn-success" (click)="editAction()">Edit</button>
  <button
    class="btn btn-danger"
    (click)="deleteAction()"
    [disabled]="book.isActive"
  >
    Delete
  </button>
</div>
