<div class="alignment">{{ book.title }}</div>
<div class="alignment">{{ book.author }}</div>
<div class="alignment">{{ book.category.toUpperCase() }}</div>
<div class="alignment">{{ book.isbn }}</div>
<div class="alignment">{{ book.createdAt }}</div>
<div class="alignment">{{ book.editedAt }}</div>
<div class="buttonWrapper">
  <label class="switch">
    <input
      type="checkbox"
      [checked]="book.isActive"
      (change)="toggleStatusAction()"
    />
    <span class="slider"></span>
  </label>
  <button class="btnEdit" (click)="editAction()">Edit</button>
  <button
    class="btnDelete"
    (click)="deleteAction()"
    [disabled]="book.isActive"
    [ngClass]="{ 'input-disabled': book.isActive}"
  >
    Delete
  </button>
</div>
