:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 4rem;
  border: 1px solid black;
  margin-top: 1rem;
}

.alignment {
  margin-right: 1rem;
  width: calc(100vh / 5);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vh / 4);
}

.input-disabled {
 user-select: none;
 cursor:not-allowed;
 opacity: 70%;
}

.btnEdit {
  color: black;
  background-color: #ffc107;
}

.btnSave {
  color: white;
  background-color: #198754;
}

.btnDelete {
  color: white;
  background-color: #dc3545;
}

#addBtn {
  color: white;
  background-color: #0d6efd;
}

.btnDelete,
.btnEdit,
.btnSave,
#addBtn {
  display: block;
  min-width: 2.8rem;
  height: 34px;
  font-weight: bolder;
  margin-left: 0.2rem;
  border: 1px solid #000000ab;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
