:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 4rem;
  border: 1px solid black;
  margin-top: 1rem;
}

.alignment {
  text-align: center;
  margin-right: 1rem;
  width: calc(100vh / 5);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vh / 4);
}

.input-disabled {
 user-select: none;
 cursor:not-allowed;
 opacity: 70%;
}

.btnEdit {
  color: black;
  background-color: #ffc107;
}

.btnSave {
  color: white;
  background-color: #198754;
}

.btnDelete {
  color: white;
  background-color: #dc3545;
}

#addBtn {
  color: white;
  background-color: #0d6efd;
}

.btnDelete,
.btnEdit,
.btnSave,
#addBtn {
  display: block;
  min-width: 2.8rem;
  height: 34px;
  font-weight: bolder;
  margin-left: 0.2rem;
  border: 1px solid #000000ab;
}


