<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="input1" class="form-label">Title</label>
    <input
      class="form-control"
      id="input1"
      formControlName="titleInput"
      placeholder="min 3 symbols"
    />
  </div>

  <div class="mb-3">
    <label for="input2" class="form-label">Author</label>
    <input
      class="form-control"
      id="input2"
      formControlName="authorInput"
      placeholder="min 5 symbols"
    />
  </div>

  <div class="mb-3">
    <label for="input3" class="form-label">ISBN</label>
    <input
      class="form-control"
      id="input3"
      formControlName="isbnInput"
      placeholder="X-XXX-XXXXX-X"
    />
  </div>

  <div class="mb-3">
    <label for="select1" class="form-label">Category</label>
    <select class="form-select" id="select1" formControlName="categoryInput">
      <option *ngFor="let value of values" [ngValue]="value">
        {{ value }}
      </option>
    </select>
  </div>

  <div class="mb-3" id="activitySelectContainer">
    <label for="switch1" class="form-label">Activity Status</label>
    <label class="switch" id="switch1">
      <input
        type="checkbox"
        [checked]="true"
        (change)="toggleStatusAction()"
        formControlName="isActiveInput"
      />
      <span class="slider round"> </span>
    </label>
  </div>

  <span class="error">{{ errorInfo }}</span>
  <div class="btnWrapper">
    <button class="btn btn-secondary" routerLink="/">Cancel</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>
